body {
  background: #f5f6f7;
  color: #1b1b32;
  font-family: Helvetica;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  background-color: #1b1b32;
  display: flex;
  /* really confused here, re-read flexbox*/
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

#logo {
  width: max(100px, 18vw);
  background-color: #0a0a23;
  aspect-ratio: 35 / 4;
  padding: 0.4rem;
}

h1{
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align:center;

}

main{/*what about Student Info section ?*/
  padding-top: 25px;
}

section{
  width: 80%;
  /*margin-top:0;
  margin-right: auto;
  margin-bottom: 10px; or simply combine as below*/
  margin: 0 auto 10px;
  max-width: 600px;
}


nav > ul{
  display: flex;
  justify-content: space-evenly;/* why wwe use wrap here?*/
    flex-wrap: wrap;
  align-items: center;
padding-inline-start: 0;
margin-block: 0;
height: 100%;
}

nav > ul > li{
  color: #dfdfe2;
margin: 0 0.2rem;
padding: 0.2rem;
display: block;

}

li > a {
  /*color:#dfdfe2;
  contrast:(7/1); or simply inhert?*/
  color: inherit;
  /*took me very ong to figure below*/
  text-decoration: none;
}

nav > ul > li:hover{
  background: #dfdfe2 ;
  color: #1b1b32;
  cursor: pointer;
}

h1, h2{
  font-family: Verdana sans-serif;
}

h2{
    border-bottom: 4px solid #dfdfe2
      margin-top:0;
  padding-top: 60px;

}

.info{
  /*padding-top: 6px;
  padding-bottom: 0;
  padding-right: 0;
  padding-left: 6px;
  */
  padding: 6px 0 0 6px;
}

.formrow{
  margin: 5px 0 0 0;
  /* top, right, bottom, left - counter clock*/
  padding: 0 5px 0 5px;
}

input{
  font-size: 14px;
}

.info input, .info > label{
  display: inline-block;
  text-align: right;
}

.info > input{
  width: 50%;
  text-align: left;
}

.info label{
  width: 10%;
  min-width: 55px;
}

.question-block{
  text-align: left;
display: block;
width: 100%;
margin-top: 20px;
padding-top: 5px;

}

button{
  display: block;
margin: 40px auto;
width: 40%;
padding: 15px;
font-size: 23px;
background: #d0d0d5;
border: 3px solid #3b3b4f;

}

p::before{
  content: "Question #";
}

p{
  margin-top: 5px;
padding-left: 15px;
font-size: 20px;

}

.question {
  padding-bottom: 0;
  border: none;
}

.answers-list{
    list-style: none;
    padding: 0;
}