* {
	box-sizing: border-box;
}

/*page backgound*/
body{
	background-color: #c9d2fc;
}

/*for the head*/
.cat-head{
  /*position: static; - will not move top/left useless
  top: 100px;
  left: 100px;
  position: relative; - will based on top and left
  top: 100px;
  left: 100px; 
  position: absolute; -  
  top: 100px;
  left: 100px; 
  position: fixed; - no matter what this will be on screen
  top: 100px;
  left: 100px;
  position: sticky;
  top: 0; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 205px;
  height: 180px;
  border: 1px solid #000;
  border-radius: 46%;
  background: linear-gradient(#5e5e5e 85%, #45454f 100%)
}

/* removed as .box dic is removed from html. this was made to illustrate position
.box{
  width: 200px;
  height: 600px;
  background-color: #000;
  position: absolute;
  top: 800px;
  left: 650px;
}*/

/* left ear */
.cat-left-ear{
  position: absolute;
  top: -26px;
  left: -31px;
  z-index: 1;
  transform: rotate(-45deg);
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid #5e5e5e;
}

/* right ear */
.cat-right-ear {
  /* position ears*/
  position: absolute;
  top: -26px;
  left: 163px;
  /*rotate to fix on face*/
  transform: rotate(45deg);
  /* to overlap above head/image
  z-index: -1;*/
  /* to overlap below head/image*/
  z-index: 1;
  /*remove sharp edges*/
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  /* create ears*/
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 70px solid #5e5e5e;
}

/* for inner ear left*/
.cat-left-inner-ear{
  /*move the created ears*/
  position: absolute;
  top: 22px;
  left: -20px;
  /*remove sharp edges*/
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius:40%;
  /*Create the ears*/
  border-left: 20px solid transparent;
  border-right:20px solid transparent;
  border-bottom: 40px solid #3b3b4f;
}

/* for inner ear right*/
.cat-right-inner-ear {
  /*move the created ears*/
  position: absolute;
  top: 22px;
  left: -20px;
  /*remove sharp edges*/
  border-top-left-radius: 90px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 40%;
  border-bottom-left-radius: 40%;
  /*Create the ears*/
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid #3b3b4f;
}

/* for left eye*/
.cat-left-eye{
  /*Move eyes into the face*/
  position: absolute;
  top: 54px;
  left: 39px;
  /*round out the eyes*/
  border-radius: 60%;
  transform: rotate(25deg);
  /* create eye*/
  width: 30px;
  height: 40px;
  background-color: #000;
}

/* for right eye*/
.cat-right-eye {
  position: absolute;
  top: 54px;
  left: 134px;
   border-radius: 60%;
  transform: rotate(-25deg);
  width: 30px;
  height: 40px;
  background-color: #000;
}

/* for left inner eye*/
.cat-left-inner-eye{
    position: absolute;
  top: 8px;
  left: 2px;
  border-radius: 60%;
  transform: rotate(10deg);
    width: 10px;
  height: 20px;
  background-color: #fff;
}

/* for right inner eye*/
.cat-right-inner-eye{
  position: absolute;
  top: 8px;
  left: 18px;
  border-radius: 60%;
  transform: rotate(-5deg);
  width: 10px;
  height: 20px;
  background-color: #fff;
}

.cat-nose{
  /*move nose*/
  position: absolute;
  top: 108px;
  left: 85px;
  /* create nose*/
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
 border-bottom: 20px solid #442c2c;
}