:root{
  /*
  --building-color1: #999;*/
  --building-color1: #aa80ff;
  --building-color2: #66cc99;
  --building-color3: #cc6699;
  --building-color4: #538cc6;
  /*--window-color1: black;*/
  --window-color1: #bb99ff;
  --window-color2: #8cd9b3;
  --window-color3: #d98cb3;
  --window-color4: #8cb3d9;
}
/*add border and box-sizing*/
*{
	border: 1px solid black;
	box-sizing: border-box;
}

/*100vh height, no margin, no scrollbar*/
body{
  height: 100vh;
  margin: 0;
  overflow: hidden;

}

/*100% in height and width for building*/
.background-buildings{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.building-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.window-wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/*BACKGROUND BUILDINGS - "bb" stands for "background building"*/
/*first building 10% of body height , 70 % of body width*/
.bb1{
  width: 10%;
  height: 70%;
  /* moved to variable building-wrap
  display: flex;
  flex-direction: column;
  align-items: center;
  */

} 

.bb1-window{
  height: 10%;
  background: linear-gradient(
      var(--building-color1),
      var(--window-color1)
    );
}


.bb1a {
  width: 70%;
  /*moved to bb1-window
  height: 10%;
  background-color: var(--building-color1);
  background: linear-gradient(var(--building-color1), var(--window-color1));
*/}

.bb1b {
  width: 80%;
  /*moved to bb1-window
  height: 10%;
  background-color: var(--building-color1);*/
}

.bb1c {
  width: 90%;
  /*moved to bb1-window
  height: 10%;
  background-color: var(--building-color1);*/
}

.bb1d {
  width: 100%;
  height: 70%;
   background: linear-gradient(
      var(--building-color1) 50%,
      var(--window-color1)
    );
  /* removing as not neded
  background: linear-gradient(
      orange,
      var(--building-color1) 80%,
      var(--window-color1)
    );
  background-color: var(--building-color1);*/
}

.bb2 {
  width: 10%;
  height: 50%;
  /*background-color: var(--building-color2, green);
  background-color: var(--building-color2);*/
}

.bb2a{
  /* to see the change
  margin: auto;
  width: 5vw;
  height: 5vw;
  will create a rectangle
  border-top: 1vw solid #000;
  border-bottom: 1vw solid #000;
  border-left: 1vw solid #999;
  border-right: 1vw solid #999;
  add thick ness to the left and right of the rectangle
  border-left: 5vw solid #999;
  border-right: 5vw solid #999;*/
  border-bottom: 5vh solid var(--building-color2);
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;

}

.bb2b {
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
      var(--building-color2),
      var(--building-color2) 6%,
      var(--window-color2) 6%,
      var(--window-color2) 9%
    );
  /* 
  background: linear-gradient(
      var(--building-color2) 0%,
      var(--building-color2) 6%,
      var(--window-color2) 6%,
      var(--window-color2) 9%
    );*/
}


.bb3 {
  width: 10%;
  height: 55%;
  /*background-color: var(--building-color3, pink);
  background-color: var(--building-color3);*/
  background: repeating-linear-gradient(
      90deg,
      var(--building-color3),
      var(--building-color3),
      var(--window-color3) 15%
    );
}

.bb4 {
  width: 11%;
  height: 58%;
  /*background-color: var(--building-color3);*/
}

.bb4a{
  width: 3%;
  height: 10%;
  background-color: var(--building-color4);
}

.bb4b{
  width: 80%;
  height: 5%;
  background-color: var(--building-color4);
}

.bb4c{
  width: 100%;
  height: 85%;
  background-color: var(--building-color4);
}

.bb4-window{
  width: 18%;
  height: 90%;
  background-color: var(--window-color4);
}


/*not need later
.foreground-buildings{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
*/

/*FOREGROUND BUILDINGS - "fb" stands for "foreground building"*/
.fb1 {
  width: 10%;
  height: 60%;
}

.fb1a{
  border-bottom: 7vh solid var(--building-color4);
  /*height: 7vh;, due to below it is 4*/
  border-left: 2vw solid transparent;
  border-right: 2vw solid transparent;
}

.fb1b {
  width: 60%;
  height: 10%;
  background-color: var(--building-color4);
}

.fb1c {
  width: 100%;
  height: 80%;
  background: repeating-linear-gradient(
      90deg,
      var(--building-color4) 0%,
      var(--building-color4) 10%,
      transparent 10%,
      transparent 15%
    );
    repeating-linear-gradient(
      var(--building-color4),
      var(--building-color4) 10%,
      var(--window-color4) 10%,
      var(--window-color4) 90%
    );
}

.fb2 {
  width: 10%;
  height: 40%;
  /*background-color: var(--building-color3);*/
}

.fb2a {
  width: 100%;
  border-bottom: 10vh solid var(--building-color3);
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
}

.fb2b{
  width: 100%;
  height: 75%;
  background-color: var(--building-color3);
}

.fb2-window{
  width: 22%;
  height: 100%;
  background-color: var(--window-color3);
}

.fb3 {
  width: 10%;
  height: 35%;
  /*background-color: var(--building-color1);*/
}

.fb3a{
  width: 80%;
  height: 15%;
  background-color: var(--building-color1);
}

.fb3b{
  width: 100%;
  height: 35%;
  background-color: var(--building-color1);
}

.fb3-window {
  width: 25%;
  height: 80%;
  background-color: var(--window-color1);
}

.fb4 {
  position: relative;
  left: 10%;
  width: 8%;
  height: 45%;
  /*background-color: var(--building-color1);*/
}

.fb4a {
  border-top: 5vh solid transparent;
border-left: 8vw solid var(--building-color1);
}

.fb4b{
  width: 100%;
  height: 89%;
  background-color: var(--building-color1);
  display: flex;
  flex-wrap: wrap;
} 

.fb4-window{ 
  width: 30%;
  height: 10%;
  border-radius: 50%;
  margin: 10%;
  background-color: var(--window-color1);
}

.fb5 {
    position: relative;
  right: 10%;
  width: 10%;
  height: 33%;
  background-color: var(--building-color2);
}

.fb6 {
  width: 9%;
  height: 38%;
  background-color: var(--building-color3);
}

.background-buildings, .foreground-buildings{
  position: absolute;
  top: 0;
}